[buildout]
extends =
    https://raw.githubusercontent.com/propertyshelf/buildout/master/common.cfg
    https://raw.githubusercontent.com/propertyshelf/buildout/master/test.cfg
    https://raw.githubusercontent.com/propertyshelf/buildout/master/qa.cfg

index = https://pypi.python.org/simple
versions = versions
package-name = ps.zope.i18nfield
package-extras = [test]

parts +=
    i18ndude
    node
    rebuild_docs-sh
    rebuild_i18n-sh
    releaser
    sphinxbuilder
    zptlint


[code-analysis]
directory = ${buildout:directory}/src/ps


[versions]
# Python 2.6 compatibility
i18ndude = 4.3
